* {
  padding: 0;
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  width: 100%;
}
#menuBtn {
  background: linear-gradient(rgba(0, 0, 0, 0.3), #99f3ea7e), url(./img/flag.jpg);
  height: 100vh;
  background-size: cover;
}

.head1 {
  font: bold;
  font-size: 50px;
}
.head1 h1 {
  text-align: center;
  padding-top: 200px;
}
p {
  padding: 30px;
}
#topNav {
  text-align: right;
  padding: 30px;
  top: 10px;
}
nav ul li {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 30px;
}
nav ul li a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  background-color: rgb(170, 91, 177);
  border-radius: 10px;
}
#blog {
  padding: 50px 50px;
  background: rgb(189, 189, 162);
}
.blogh {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}
.blogh p {
  font-size:larger;
}
.BLOG {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
.singleblog {
  flex-basis: 48%;
  text-align: center;
}
.blogImg img {
  border-radius: 15px;
  width: 400px;
  text-align: left;
  height: 250px;
}
.blogHeading{
  text-align: center;
}
.singleblog p {
  padding: 30px;
  text-align: left;
}

#ABOUT {
  padding: 50px;
  background: rgb(184, 189, 185);
}
.about-contact {
  padding-top: 15px;
  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 15px;
}
.about-left p {
  text-align: left;
  border: 2px solid #009688;
  border-radius: 15px;
}

.contact-right p {
  text-align: left;
  border: 2px solid #009688;
  border-radius: 15px;
}
@media screen and (max-width: 770px) {
  body{
    width: 100%;
    font-size: 10px;
  }
  .about-left p {
    border: none;
  }
  
  .contact-right p {
    border: none;
  }
  .about-contact {
    padding-top: 5px;
    margin: 0;
    display: block;
  }
  #blog {
    padding: 5px;
  }
  #ABOUT {
    padding: 0;
  }
  nav ul li a {
    padding: 5px;
    font-size: 10px;
  }
  .singleblog {
    flex-basis: 100%;
    text-align: center;
  }
  .blogImg img {
    border-radius: 15px;
    width: 100%;
    text-align: center;
    height: 200px;
  }
  .head1 h1 {
    text-align: center;
    padding-top: 10px;
  }
  #Feedback {

  }
  .tweets{
    flex-basis: 100%;
  }
  .form-class{
    width: 0;
    height: 0;
  }
  #topNav {
    padding: 5px;
    top: 0;
  }
  .feedForm{
    width: 60%;

  }
  .flexprop{
    width: 100%;
    display: inline-block;
    padding: 0;
  }
  .tweets{
    flex-basis: 100%;
    width: 100%;
  }
  table{
    width: 30%;
    font-size: small;
    height: 40px;
  }
  form{
    width: 100%;
    max-width: 50%;
  }
}

#Feedback {
  width: 100%;
  padding: 5px;
  background: linear-gradient(to bottom, rgb(180, 221, 245), rgb(206, 205, 205), rgb(239, 252, 248));
}
.flexprop{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tweets{
  text-align: left;
  margin: 0 30px;
}
.tweets h4 h6{
  text-align: center;
  padding-left: 20px;
}
.footnote {
  background: #009688;
  text-align: center;
  margin-bottom: 0;
  padding: 0 5px;
}
.InputBtn{
  width: 120px;
  height: 2em;
  font-size: small;
  background: rgb(5, 118, 184);
  color: rgb(254, 255, 219);
  border-radius: 15px;
}
.InputBtn:hover{
  background: cornsilk;
  color: black;
  transition: 0.5s;
}
.form-class{
  width: 50px;
  border-radius: 50px;
}
