* {
  padding: 0;
  margin: 0;
  /* font-family: sans-serif monospace; */
}
body{
  width: 100%;
}
#menuBtn {
  background: linear-gradient(rgba(0, 0, 0, 0.3), #99f3ea7e), url(./img/flag.jpg);
  height: 100vh;
  background-size: cover;
}

.head1 {
  font: bold;
  font-size: 50px;
}
.head1 h1 {
  text-align: center;
  padding-top: 200px;
}
p {
  padding: 30px;
}
#topNav {
  text-align: right;
  padding: 30px;
  top: 10px;
}
nav ul li {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 30px;
}
nav ul li a {
  padding: 0 20px;
  color: #fff;
}
#blog {
  padding: 50px 50px;
  background: rgb(189, 189, 162);
}
.blogh {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}
.blogh p {
  font-size: x-large;
}
.BLOG {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.singleblog {
  flex-basis: 48%;
  text-align: center;
}
.blogImg img {
  border-radius: 15px;
  width: 400px;
  text-align: left;
  height: 250px;
}
.singleblog h1 {
  text-align: center;
}
.singleblog p {
  padding: 30px;
  text-align: left;
}

#ABOUT {
  padding: 50px;
  background: rgb(184, 189, 185);
}
.about-contact {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.about-left p {
  text-align: left;
  border: 2px solid #009688;
  border-radius: 15px;
  line-height: 40px;
}

.contact-right p {
  text-align: left;
  border: 2px solid #009688;
  border-radius: 15px;
  line-height: 40px;
}
@media screen and (max-width: 770px) {
  body{
    width: 100%;
  }
  .singleblog {
    flex-basis: 100%;
    text-align: center;
  }
  .blogImg img {
    border-radius: 15px;
    width: 100%;
    text-align: center;
    height: 200px;
  }
  .head1 h1 {
    text-align: center;
    padding-top: 50px;
  }
  #Feedback {
    width: 100%;
    background-size: cover;
  }
  .tweets{
    flex-basis: 40%;
    text-align: justify;
  }
  .form-class{
    width: 30px;
    height: 50px;
  }
}

#Feedback {
  padding: 50px;
  background: linear-gradient(to bottom, rgb(180, 221, 245), rgb(206, 205, 205), rgb(239, 252, 248));
}
.flexprop{
  width: auto;
  display: inline-flex;
  justify-content: start;
  flex-wrap: wrap;

}
.tweets{
  flex-basis: 30%;
}

.footnote {
  background: #009688;
  text-align: center;
  margin-bottom: 0;
  padding: 0 5px;
}
.InputBtn{
  width: 120px;
  height: 2em;
  font-size: medium;
  background: rgb(5, 118, 184);
  color: rgb(254, 255, 219);
  border-radius: 15px;
}
.InputBtn:hover{
  background: cornsilk;
  color: black;
  transition: 0.5s;
}
.form-class{
  width: 50px;
  border-radius: 50px;
}

